{% extends "template.html" %}
{% block conteudo %}
        <table class="table table-striped table-responsive table-bordered">
            <thead class="thead-default">
                <tr>
                    <th class="jogo-nome">Nome</th>
                    <th class="jogo-categoria">Categoria</th>
                    <th class="jogo-console">Console</th>
                </tr>
            </thead>
            <tbody>
                {% for jogo in jogos %}
                    <tr>
                        <td class="jogo-nome">{{ jogo.nome }}</td>
                        <td class="jogo-categoria">{{ jogo.categoria }}</td>
                        <td class="jogo-console">{{ jogo.console }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
{% endblock %}
